@font-face {
    font-family: roboto, sans-serif;
    src: url('Roboto-ThinItalic-webfont.eot');
    font-weight: 200;
    font-style: italic;
}

:root {
    --info--back-color: #272829;
    --header--background: #61677A;
    /* --button--color: #738276; */
    --background-color: #D8D9DA;
    --header--color: #ffffff;
    --project-color: #4e4e4e;
    --hover-color: #616777;
    --btn-hover: #a89f89;
}

body {
    background-color: var(--info--back-color);
    color: var(--header--color);
    font-family: roboto;
    margin: 0;
}


.navbar {
    width: 100%;
    z-index: 1;
}

.header {
    background: var(--header--background);
}

h1 {
    font-weight: 400;
    padding-bottom: 30px;
}

ul {
    justify-content: right;
    flex-direction: row;
}

.navbar-nav li:hover a {
   color: var(--btn-hover) !important;
}

a {
    color: var(--header--color);
    text-decoration: none;
}

.navbar-nav li:active a {
    color: rgb(145, 136, 179) !important;
 }
 
/* my protfolio */

.myinfo {
    background-color: var(--info--back-color);
    padding: 29ch 0;
}

.myinfo h1 {
    font-size: 46px;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 20px 0;
}

.myinfo h2 {
    font-weight: 400;
}





/* project section */
.myproject {
    padding-top: 10%;
    padding-bottom: 5%;
    background-color: var(--background-color);
    color: var(--project-color);
}

.myproject h4 {
    text-align: center;
    font-weight: 300;
    padding-bottom: 40px;
}

.projectPic img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    margin: 10px 2px;
    transition: 1s all;
}

.projectPic .subject {
    width: 62%;
    margin: 0 20px;
}

.subject h2 {
    letter-spacing: 4px;
    font-weight: 200;
    padding: 5px 0;
}

.hov {
    border-radius: 10px;
    transition: .5s all;
    width: 90%;
    margin: 10px 0;
}

hr {
    width: 50%;
    height: 2px;
    margin: 3%;
}

.projectPic .hov:hover img,
.projectPic .hov:hover {
    color: var(--header--color);
    padding: 4px;
    background-color: var(--header--background);
    z-index: 0;
    border-radius: 20px;
    -webkit-filter: drop-shadow(5px 3px 5px #000);
}

.btn {
    margin: 5px;
    color: #000000;
    padding: 5px 16px;
    background-color: var(--btn-hover);
    transition: .5s all;
    color: var(--header--color);
}

.btn:hover {
    color: #ffffff;
    padding: 5px 16px;
    background-color: var(--btn-hover);
    -webkit-filter: drop-shadow(5px 2px 3px #000);

}


/* about */

.aboutme {
    background-color: var(--info--back-color);
    padding: 30ch 0;
}

.aboutme h2 {
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 40px;

}

.aboutme img {
    padding: 20px 0;
    padding-bottom: 10ch;
    width: 90%;
    border-radius: 10px;
    transition: 1s all;
    border: 6px solid #ffffff;
    background-color: #ffffff;
}




/* contact */
.footer {
    padding: 29ch 0;
    background-color: var(--background-color);
}

.footer a {
    font-size: 20px;
    margin: 20px;
    letter-spacing: 3px;
    font-weight: 200;
    color: var(--project-color);
}

.footer a:hover {
    transition: 1s all;
    -webkit-filter: drop-shadow(2px 4px 2px var(--header--background));
}

.coded {
    background-image: url(https://videohive.img.customer.envatousercontent.com/files/fff1ef24-e903-400b-8665-7112ee0c009a/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=a16df2d9f47561e3177f7f4f537ee8fe);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(80%);
    width: 90%;
    padding: 10px;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #ffffff;
    background-color: var(--hover-color);
}

.myIcon {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.myIcon i {
    padding: 20px 0;
}

.footerColor {
    background-color: var(--background-color);
}

.contactMe {
    margin: 0 auto;
    width: 60%;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #a89f89;
    color: #000000;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contactMe div:last-of-type {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.contactMe a {
    background-color: #61677A;
    padding: 10px 25px;
    transition: 0.5s all;
    border-radius: 5px;
}

.contactMe a:hover {

    background-color: #5d616e;
    padding: 9px 23px;
    box-shadow: 5px 2px 4px var(--header--background);
}




@media only screen and (max-width:440px) {
    .hov p {
        width: 200px;
        font-weight: 300;
    }

    .hov h2 {
        font-weight: 400;
        font-size: large;
    }

    .coded {
        -webkit-filter: blur(1.5rem);
    }

    .contactMe {
        display: none;
    }

}

/*works */
.projectPic_work img {

    width: 100%;
    border-radius: 20px;
}

.projectPic_work>div>div>div {
    padding: 10px;
}

.workTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hoverWork {
    margin: 2px 0;
    padding: 20px;
    border-radius: 20px;
    transition: 1s all;
}

.hoverWork:hover {
    cursor: pointer;
    color: #D8D9DA;
    background-color: #61677A;
    -webkit-filter: drop-shadow(2px 4px 2px var(--header--background));
}